* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
body {
  background-color: #fdf4ef;
}
/* classes in advance */
.flex-justify {
  display: flex;
  justify-content: space-between;
}
/* decor */
.right-decoration-div {
  position: fixed;
  top: 0;
  right: 0;
  left: 75%;
  bottom: 0;
  background-color: #77ab7b;
  display: flex;
  font-family: 'BPG Nino Mtavruli';
}
.pattern-decor {
  position: absolute;
  width: 23.5vw;
  height: 35vw;
  top: 50%;
  right: 23%;
  transform: translateY(-45%);
}
.pattern-decor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
/* containers */
.main-container {
  width: 100vw;
  font-family: 'BPG Nino Mtavruli';
  font-weight: 900;
  position: relative;
}
/* header */
.header-container {
  margin: 0 auto;
  width: 87vw;
}
h1 img{
  width: 11vw;
  height: auto;
  margin-top: 2.5vw;
}
header nav {
  width: 46vw;
  margin-top: 4vw;
}
header nav ul li {
  position: relative;
}
header nav ul a {
  display: inline-block;
  color: #323232;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
  transition: 0.3s;
}
.main-ul {
  width: 23vw;
  height: calc(1.3rem + 21px);
  font-size: 1.3rem;
}
.main-ul .active::after, .mobile-active::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  display: block;
  height: 4px;
  width: 40%;
  background: #ec4411;
  border-radius: 7px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.main-ul li::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  height: 4px;
  width: 0;
  background: #ec4411;
  border-radius: 7px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.main-ul li:hover::after { 
  width: 40%; 
  left: 30%; 
}
.main-ul li:hover ,.active, .mobile-active {
  color: #ed5021;
}
.language-ul {
  width: 5vw;
  height: calc(1.1rem + 21px);
  font-size: 1.1rem;
}
.language-ul a {
  text-transform: uppercase;
}
.language-ul li:hover, .actv {
  background-color: #ffffff;
  border-radius: 7px;
}
main {
  padding: 0 3vw 0 6.5vw;
}
/* social  network icons */
.social-icons {
  width: 7rem;
}
.social-icons svg {
  width: 1.8rem;
  fill: #7da981;
  transition: 0.3s;
}
.social-icons svg:hover {
  fill: #ead94f;
}
/* contact and map */
.contact-and-map {
  width: 71%;
}
/* contact */
.innercont {
  margin-top: 2vw;
}
.title{
  font-size: 1.5rem;
  color: #ee643b;
  margin-bottom: 1.2rem;
}
.innercont div{
  display: flex;
  align-items: center;
  color: #323232;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 2.1rem;
}
.bold-text {
  font-weight: 900;
}
.innercont svg{
  width: 1.3rem;
  margin-right: 12px;
  fill: #77ab7b;
}
/* map */
.gmap_canvas {
  width: 100%; 
  height: 14vw;
  background: none!important;
  overflow: hidden;
  position: relative;
  margin: 2.5rem 0 1rem 0;
  border-radius: 10px;
  z-index: 1; 
}
iframe {
  width: 100%;
  height: 100%;
}

/* form styles */
.form_container {
  width: 20%;
}
.text_us {
  color: #fcfcf6;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.form input {
  width: 100%;
  outline: none;
  margin-bottom: 1.5rem;
  font-family: 'BPG Nino Mtavruli';
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
  line-height: 1.2rem;
  background-color: transparent;
  border: 1px solid #fcfcf6;
  color: #fcfcf6;
}
.form input::placeholder {
  font-style: italic;
  letter-spacing: 1px;
  color: #fcfcf6;
  opacity: 0.7;
}
.form textarea {
  width: 100%;
  color: #fcfcf6;
  background-color: transparent;
  border: 1px solid #fcfcf6;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
  padding: 0.8rem;
  resize: none;
  font-family: 'BPG Nino Mtavruli';
}
.form textarea::placeholder {
  color: #fcfcf6;
  font-family: 'BPG Nino Mtavruli';
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1px;
  opacity: 0.7;
}
.form .submit {
  cursor: pointer;
  background-color: #f1c737;
  border-radius: 8px;
  border: none;
  margin-top: 4vw;
  font-style: normal;
  width: 9rem;
  padding: 10px 0;
  transition: 0.3s;
}
.form .submit:hover {
  color: #f1c737;
  background-color: #fcfcf6;
  ;
}
/*mobile responsive menu ================================ */
.buttons {
  display: none;
}
.scroll-decoration {
  height: 0;
  position: fixed;
  transition: 0.7s;
  background-color: #6ea073;
;
}
.mobile-navigation {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 0;
  overflow: hidden;
  background-color: #fcfcf6;
  transition: 0.7s;
}
.nav_mobile {
  width: 100%;
  margin-top: 8rem;
  font-family: 'BPG Nino Mtavruli';
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  height: 0;
  overflow: hidden;
  transition: 1s;
}
.main-ul-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.main-ul-mobile li {
  margin-top: 3rem;
}
.main-ul-mobile li a {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #323232;
}
#close_menu {
  position: absolute;
  top: 1.5rem;
  right: 26%;
  display: none;
  fill: #166d43;
}
/* MOBILE MENU ACTIVE */
.main-ul-mobile li {
  padding-bottom: 7px;
  position: relative;
}
.main-ul-mobile .mobile-active {
  color: #ed5021;
}