@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url('../fonts/bpg-nino-mtavruli-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('../fonts/FuturaBT-Bold.eot');
  src: url('../fonts/FuturaBT-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/FuturaBT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaBT-Bold.woff') format('woff'),
      url('../fonts/FuturaBT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot'); 
  src: url('../fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/bpg-nino-mtavruli-bold-webfont.woff2') format('woff2'),
       url('../fonts/bpg-nino-mtavruli-bold-webfont.woff') format('woff'), 
       url('../fonts/bpg-nino-mtavruli-bold-webfont.ttf') format('truetype'),
       url('../fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold') format('svg'); 
} */