.page-view {
  display: none;
}

.page-view.is-active {
  display: block;
}

.right-decoration-div,
.pattern-decor {
  pointer-events: none;
}

header {
  position: relative;
  z-index: 11;
}

header .buttons {
  position: relative;
  z-index: 13;
  pointer-events: auto;
}

#open_menu {
  pointer-events: auto;
}

.mobile-navigation {
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.mobile-navigation.is-open {
  pointer-events: auto;
  visibility: visible;
  z-index: 12;
}

.mobile-navigation #scroll-decoration {
  pointer-events: none;
}

.mobile-navigation.is-open #scroll-decoration {
  pointer-events: auto;
}

#full-menu-container {
  display: none;
  z-index: 20;
}

#full-menu-container.is-open {
  display: block;
}

#view-menu .show_menu-menu-page {
  position: relative;
  z-index: 2;
}

body[data-route="contact"] .right-decoration-div {
  background-color: #77ab7b;
}

body[data-route="home"] .right-decoration-div,
body[data-route="menu"] .right-decoration-div {
  background-color: #f86d43;
}

#view-contact main {
  width: 100%;
}

#view-contact .contact-map-form {
  margin: 0 auto;
  width: 87vw;
}
